body {
    background-color: #DFCCFB;
    text-align: center;
    font-size: 18px;
    color: black; 
}

h3 {
    display: inline;
    align-items: center;
    color: black;
    padding: 10px; 
    font-size: 11px;
    padding-top: 20px;

}


h1 {
    padding-top:30px;
    margin: 50px;
    margin-bottom:30px;
}


a {
    text-decoration: none;
}

h3:hover {
    color: white;
}


h1:hover {
    color: white; 
}
