body {
    background-color: #FFC8C8;
    text-align: center;
    font-size: 18px;
    color: white;
}

h3 {
    display: inline;
    align-items: center;
    color: black;
    padding: 10px; 
    font-size: 11px;
    padding-top: 20px;

}


h1 {
    padding-top:30px;
    margin: 50px;
    margin-bottom:30px;
}


h3:hover {
    color: white;
}


a {
    text-decoration: none;
}


.div1 {
    display: inline-flex;
    align-items: center;
    color: black; 
    font-size: 8px; 
}

.div2 {
    text-align: left;
}

h1:hover {
    color: black; 
}



